In [1]:
import os
from PIL import Image
import cv2
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
directory='../data/image/'
image_list=[]
for file in os.listdir(directory):
    filename=os.path.join(directory,file)
    image_list.append(filename)

In [15]:
# transform all images with their weights and heights into one dataframe
image_list.sort()
df=pd.DataFrame([],columns=['image','height','width'])
for index,img_file in enumerate(image_list):
    img=cv2.imread(img_file,cv2.IMREAD_COLOR)
    img_h,img_w,_=img.shape
    new_row=pd.DataFrame({'image':img_file,'height':img_h,'width':img_w},index=[index])
    df=pd.concat([df,new_row],axis=0)

In [16]:
df.head()

                         image height width
0    ../data/image/image_1.jpg    522   775
1   ../data/image/image_10.jpg    522   775
2  ../data/image/image_100.jpg    522   775
3  ../data/image/image_101.jpg    522   775
4  ../data/image/image_102.jpg    522   775

In [20]:
# get images with minimum height
df[df.height==df.height.min()]

                          image height width
18  ../data/image/image_115.jpg    430   567

In [21]:
# get images with minimum width
df[df.width==df.width.min()]

                          image height width
18  ../data/image/image_115.jpg    430   567